:root {
  --main-color: #000000;
  --main-color-hover: #000000;
  --dark-color: rgba(0, 0, 0, 0.7);
  ;
  --container-width: 1100px;
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  padding: 0;
  margin: 0;
  font-size: 2rem;
}

.button {
  text-decoration: none;
  display: inline-block;
  margin-top: 1.3em;
  padding: 0.7em 1.2em;
  background-color: var(--main-color);
  color: #464646;
  border-radius: 30px;
  font-size: 1.1em;
}

.button:hover {
  background-color: var(--main-color-hover);
  color: #2e2a2a;
  transition: all 0.3s;
}

/* HEADER */
.nav-container {
  background-color: var(--dark-color);
  position: sticky;
  top: 0px;
  z-index: 100;
}


.nav-container header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  height: 60px;
  margin: 0 auto;
}


.nav-container .logo img {
  width: 180px;
  padding-top: 10px;
}


.nav-container ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}


.nav-container li a {
  display: block;
  color: white;
  padding: 0 1.1em;
  text-decoration: none;
  text-transform: uppercase;
  height: 60px;
  line-height: 60px;
}


.nav-container li a:hover {
  color: var(--main-color);
  transition: all 0.3s;
  border-bottom: 5px solid var(--main-color);
}


.nav-container header label,
#hamburger {
  display: none;
}


/* BREAKPOINT TABLET */
/* HEADER */
.nav-container header label {
  display: inline-block;
  color: white;
  font-style: normal;
  font-size: 2rem;
  padding: 0.5rem;
  padding-left: 1rem;
}


.nav-container header {
  width: 100%;
}


.nav-container nav ul {
  flex-direction: column;
  width: 100%;
  position: absolute;
  top: 60px;
  left: 0;
}


.nav-container li a {
  display: block;
  color: white;
  background-color: var(--dark-color);
  padding: 0 2em;
  text-decoration: none;
  text-transform: uppercase;
  height: auto;
}


.nav-container li a:hover {
  border-bottom: none;
}


.nav-container .logo {
  position: absolute;
  right: 0px;
  z-index: 1000;
}


.nav-container .logo img {
  width: 80px;
}


.nav-container nav {
  display: none;
}


.nav-container header input:checked~nav {
  display: flex;
}


/* END OF HEADER */

/* HERO */

.hero-text {
  background-image: url("assets/Banner-Telkom-University-Surabaya.jpg");
  background-size: cover;
  background-position: center;
  text-align: center;
  color: rgb(255, 0, 0);
  padding: 1rem;
  height: 100%;
  /* Memastikan tinggi elemen sesuai dengan kontennya */
  width: 100%;
  /* Memastikan lebar elemen sesuai dengan kontennya */
}


.hero-container {
  height: 93vh;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-text {
  align-items: end;
  color: rgb(255, 0, 0);
  padding: 1rem;
}

.hero-text h1 {
  font-size: 4em;
  color: var(--dark-color);
}

.hero-text p {
  font-size: 2em;
  margin: 0;
  color: rgb(0, 0, 0);
}

.profil-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profil-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  /* Sesuaikan lebar gambar profil dengan preferensi Anda */
  overflow: hidden;
  /* Mengatasi efek border pada gambar yang berlebihan */
  margin-bottom: 20px;
  /* Jarak antara gambar profil dan teks di bawahnya */

}

.profil-border {
  overflow: hidden;
   width: 200px;
  height: max-content;
  /* border: 3px solid blue;  */
  /*Set border menjadi transparan */
  border-radius: 100%;
  /* Agar border menjadi lingkaran */
}


.profil-img {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  background-color: black;
  margin: 15px auto;
  background-size: cover;

}



@keyframes borderAnimation {
  0% {
    border-color: red;
    /* Warna awal border */
  }

  100% {
    border-color: blue;
    /* Warna akhir border */
  }
}

/* END OF HERO */

/* SHOWCASE */

.showcase-text p {
  font-size: 1.2em; /* Sesuaikan dengan ukuran yang Anda inginkan */
}

#aboutMe {
  background-image: url("assets/420522-white-abstract-wallpaper-top-free-white-abstract-background.jpg");
  background-size: cover;
  background-position: center;
}

#hobi {
  background-image: url("assets/69018-white-abstract-wallpaper-new-wallpaper-red-abstract-polygons.jpg");
  background-size: cover;
  background-position: center;
}

#favoriteGames {
  background-image: url("assets/69018-white-abstract-wallpaper-new-wallpaper-red-abstract-polygons.jpg");
  background-size: cover;
  background-position: center;
}

.showcase-container:nth-child(even) {
  background-color: #f0f0f0;
}

.showcase {
  display: flex;
  justify-content: space-between;
  max-width: 2000px;
  margin: 0 auto;
  padding: 10em;
}

.showcase-image,
.showcase-text {
  width: 100%;
  margin: 5em;
}

.showcase-image img {
  width: 100%;
  border: 1px solid rgb(204, 0, 0);
  padding: 10em;
}
/* Style the slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Style for fading effect */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}


/* END OF SHOWCASE */

/* BLOG */

#Project {
  background-image: url("assets/69018-white-abstract-wallpaper-new-wallpaper-red-abstract-polygons.jpg");
  background-size: cover;
  background-position: center;
  height: 400px; /* Sesuaikan dengan ketinggian yang diinginkan */
}
.blog-container {
  max-width: 2000px;
  max-width:  100%;
  margin: 0 auto;
}

.blog-container header{
  text-align: center;
}

.blog-section {
  text-align: center;
}

.blog-videos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.video {
  width: calc(33.33% - 20px); /* Menggunakan calc() untuk menyesuaikan ruang antar video */
  margin-bottom: 20px;
}

.video iframe {
  width: 100%;
  height: 200px; /* Mengatur ketinggian video */
  border: none;
}

.video-description {
  background-color: #f9f9f9;
  padding: 10px;
  margin-top: 10px;
}

.video-description h2 {
  margin-top: 0;
  color: #333;
}

.video-description p {
  color: #555;
}

.video-description small {
  color: #777;
}


/* END OF BLOG */

/* FOOTER */
.footer-container {
  margin-top: 3rem;
  color: white;
  background-color: var(--dark-color);
  padding: 2rem 1rem;
}

.footer-container hr {
  color: #2e2a2a;
}

.footer-container a {
  text-decoration: none;
  color: white;
}

.footer-container a:hover {
  text-decoration: underline;
}

.footer-menu {
  max-width: var(--container-width);
  margin: 0 auto 2rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.footer-menu section {
  width: 23%;
}

.footer-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer-container ul li {
  margin-bottom: 0.5rem;
}

.footer-menu h3 {
  margin-top: 0;
}

.logo-container img {
  width: 180px;
}

.footer-copyright {
  max-width: var(--container-width);
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 0.5rem;
}

.footer-copyright a {
  margin-left: 0.5rem;
}

.footer-copyright a:hover {
  text-decoration: none;
}

/* END OF FOOTER */

/* BREAKPOINT TABLET */
@media screen and (max-width: 768px) {
  :root {
    --container-width: 100%;
  }

  /* HEADER */
  .nav-container header label {
    display: inline-block;
    color: white;
    font-style: normal;
    font-size: 2rem;
    padding: 0.5rem;
    padding-left: 1rem;
  }

  .nav-container header {
    width: 100%;
  }

  .nav-container nav ul {
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 60px;
    left: 0;
  }

  .nav-container li a {
    display: block;
    color: white;
    background-color: var(--dark-color);
    padding: 0 2em;
    text-decoration: none;
    text-transform: uppercase;
    height: auto;
  }

  .nav-container li a:hover {
    border-bottom: none;
  }

  .nav-container .logo {
    position: absolute;
    right: 0px;
    z-index: 1000;
  }

  .nav-container .logo img {
    width: 80px;
  }

  .nav-container nav {
    display: none;
  }

  .nav-container header input:checked~nav {
    display: flex;
  }

  /* END OF HEADER */

    /* HERO */
    .hero-text h1 {
      font-size: 3em;
    }
  
    /* END OF HERO */

  /* SHOWCASE */
  .showcase {
    flex-direction: column;
    padding: 1em 2em;
  }

  .showcase-image,
  .showcase-text {
    width: auto;
  }

  /* END OF SHOWCASE */

  /* BLOG */
  .blog-index .snippet {
    width: 100% !important;
    margin: 1rem 2rem;
  }

  /* END OF BLOG */

  /* FOOTER */
  
  .footer-container {
    padding: 2rem;
  }

  .footer-menu section {
    width: 48% !important;
    margin-bottom: 2rem;
  }

  .footer-copyright div {
    margin-bottom: 2rem;
  }

  .footer-copyright a:first-child {
    margin-left: 0;
  }

  /* END OF FOOTER */
}

/* BREAKPOINT HANDPHONE */
@media screen and (max-width: 481px) {
  /* BLOG */
  .blog-container .snippet {
    width: 98%;
  }

  .blog-index {
    justify-content: center;
  }

  /* END OF BLOG */


  /* FOOTER COPYRIGHT STYLES */
  .footer-copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .footer-copyright div:first-child {
    /* Align teks hak cipta ke kiri */
    align-self: flex-start;
  }

  .footer-copyright div:last-child {
    /* Menyusun ikon media sosial ke kanan */
    align-self: flex-end;
  }

  /* END OF FOOTER */
}

.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #ff3700; /* Warna latar belakang tombol */
  color: #fff; /* Warna teks tombol */
  border: none;
  border-radius: 50%; /* Membuat tombol menjadi bentuk lingkaran */
  width: 40px;
  height: 40px;
  font-size: 24px;
  cursor: pointer;
  display: none; /* Tombol disembunyikan secara default */
}

.scroll-to-top:hover {
  background-color: #ec7070; /* Warna latar belakang tombol saat digulir */
}
